
.enemy {
	background-color: #DE5D79;
}
.item {
	background-color: #D4D487;
}
.slot {
	background-color: #D4D4D4;
}
.connection {
	background-color: #879ED4;
}
.option {
	background-color: #879ED4;
}
.stat {
	background-color: #D4D4D4;	
}
.circle.empty {
	background-color: white;	
}
.circle.full {
	background-color: #A1E6A1;	
}
/*
.slot.empty {
	background-color: #D4D4D4;
}
.slot.full {
	background-color: #B1D9B1;
}
*/