
.enemy {
	background-color: #DE5D79;
}
.item {
	background-color: #D4D487;
}
.slot {
	background-color: #D4D4D4;
}
.connection {
	background-color: #879ED4;
}
/*
.slot.empty {
	background-color: #D4D4D4;
}
.slot.full {
	background-color: #B1D9B1;
}
*/