
.red {
	background-color: #DE5D79;
}
.dark-red {
	background-color: #D48787;
}
.swampish-yellow {
	background-color: #D4D487;
}
.yellow {
	background-color: #D4D487;
}
.light-grey {
	background-color: #D9D9D9;
}
.grey {
	background-color: #D4D4D4;
}
.font-grey {
	color: #D4D4D4;
}
.soft-dark-grey {
	background-color: #8A8A8A;
}
.dark-grey {
	background-color: #808080;
}
.font-dark-grey {
	color: #808080;
}
.font-deep-dark-grey {
	color: #454545;
}
.light-blue {
	background-color: #AABFF2;
}
.blue {
	background-color: #879ED4;
}
.white {
	background-color: white;	
}
.font-white {
	color: white;	
}
.green {
	background-color: #A1E6A1;	
}
/*
.slot.empty {
	background-color: #D4D4D4;
}
.slot.full {
	background-color: #B1D9B1;
}
*/