html, body, .container  { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	height: 100%;
	width: 100%;
	margin: 0px;
}
.container {
	display: flex;
	flex: 1;
	width: 100%;
	padding: 0.5% 0 0.5% 0.5%;
	box-sizing: border-box;
}
.header, .list-header {
	width: 100%;
	text-align: center;
}
.circle {
	border-radius: 50%;
	width: 1em;
	height: 1em;
}
.rectangle {
	display: flex;
	position: relative;
	flex-align: center;
	justify-content: space-between;
	height: calc(1.4em + 2px);
	margin: 0.1em 0;
	box-sizing: border-box;
}
.button {
	position: absolute;
	right: 0;
	height: 1em;
	margin: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.stat-name {
	flex: 1;
}
.stat-value {
	flex: 3;
}

.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.center-aligned {
	display: flex;
	align-items: center;
}
.centered {
	display: flex;
	justify-content: space-around;
}
.justified {
	display: flex;
	justify-content: space-between;
}
.clickable {
	cursor: pointer;
}
.post {
	font-size: smaller;
}
.time {
	font-style: italic;	
}
.border-thin {	
	border: 1px solid #808080;
}
.border-round {	
	border-radius: 3px;
}

 	
.rectangle span {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.item span {
	font-size: smaller;
}
.button span {
	font-size: x-small;
}

.slot .item {
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom:0;
	border-right:0;
	border-left:0;
}
.slot.full {
	height: 3em;
}


