body {
	background-color: black;
}
.main {
	padding-top: 3em;
}
.map {
	float: left;
	display: inline-block;
	width: 70%;
}
.panel {
	background-color: grey;
	float: right;
	display: inline-block;
	width: 30%;
}
.cell-container {
	position: relative;
}
.cell {
	border: 1px solid black;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.cell.out-of-borders {
	border: 0;
}
.cell.adjacent {
	cursor: pointer;
}
.cell.invisible {
	opacity: 0.5;
	background-color: black;
}
.cords {
	display: none;
	background-color: yellow;
	position: absolute;
	right: 0.3em;
	bottom: 0.3em;
	font-size: 0.5em;
	color: blue;
}
.unit {
	color: white;
	width: 100%;
	height: 100%;
}
.screen {
	border-spacing: 0
}