.tab {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50%;
	margin-right: 0.5%;
	border-radius: 3px;
	overflow: hidden;
}
.tab_header {
	align-self: flex-start;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #C7C7C7;
    background: linear-gradient(to top, #B3B3B3 0%, #B3B3B3 60%, #EDEDED 100%);
	color: white;
	height: 2em;
	border-bottom: 1px solid #808080;
	border-radius: 0 3px 0 0;
	cursor: pointer;
	/*box-shadow: 0 3px 1px rgba(0,0,0,0.5);*/
}
.tab_contents {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: calc(100% - 2em);
	padding: 0 0.2em;
	padding-top: 0.5em;
	overflow: auto;
	box-sizing: border-box;
}
.post {
	font-size: smaller;
}
.time {
	font-style: italic;	
}
.tab_footer {
	flex: 1;
}
.tab-menu {
	display: flex;
	flex-direction: row;
	flex-align: center;
	justify-content: space-between;
	height: 1.5em;
	width: 100%;
	background-color: white;
}
.tab-icon {
	display: flex;
	flex-direction: row;
	flex-align: center;
	justify-content: space-around;
	width: 100%;
	margin: 0.2em;
	cursor: pointer;
	background-color: #B3B3B3;
	border-radius: 3px;
}
.tab-icon.minimized {
	background-color: #B3B3B3;
	color: #454545;
}
.tab-icon.maximized {
	background-color: #808080;
	color: white;
}
.tab-icon.blocked {
	background-color: #D9D9D9;
	color: #999999;
}
.maximized {
	background-color: white;
}