.tab {
	background-color: white;
	width: 50%;
	margin-right: 0.5%;
}
.tab_header {
	height: 2em;
    background: linear-gradient(to top, #B3B3B3 0%, #B3B3B3 60%, #EDEDED 100%);
	border-bottom: 1px solid #808080;
	border-radius: 3px 3px 0 0;
	/*box-shadow: 0 3px 1px rgba(0,0,0,0.5);*/
}
.tab_contents {
	flex: 1;
	height: calc(100% - 2em);
	padding: 0.5em 0.2em 0 0.2em;
	overflow: auto;
	box-sizing: border-box;
}
.tab_footer {
	flex: 1;
}
.tab-menu {
	display: flex;
	height: calc(2em + 2px);
	width: 100%;
	padding: 0.3em 0 0.3em 0.5%;
	box-sizing: border-box;
}
.tab-icon {
	width: 100%;
	margin: 0;
	margin-right: 0.5%;
	box-sizing: none;
}